HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
frontend/node_modules/.package-lock.json
frontend/node_modules/.bin/prettier
frontend/node_modules/prettier/doc.d.ts
frontend/node_modules/prettier/doc.js
frontend/node_modules/prettier/doc.mjs
frontend/node_modules/prettier/index.cjs
frontend/node_modules/prettier/index.d.ts
frontend/node_modules/prettier/index.mjs
frontend/node_modules/prettier/LICENSE
frontend/node_modules/prettier/package.json
frontend/node_modules/prettier/README.md
frontend/node_modules/prettier/standalone.d.ts
frontend/node_modules/prettier/standalone.js
frontend/node_modules/prettier/standalone.mjs
frontend/node_modules/prettier/THIRD-PARTY-NOTICES.md
frontend/node_modules/prettier/internal/experimental-cli-worker.mjs
frontend/node_modules/prettier/internal/experimental-cli.mjs
frontend/node_modules/prettier/internal/legacy-cli.mjs
frontend/node_modules/prettier/plugins/acorn.d.ts
frontend/node_modules/prettier/plugins/acorn.js
frontend/node_modules/prettier/plugins/acorn.mjs
frontend/node_modules/prettier/plugins/angular.d.ts
frontend/node_modules/prettier/plugins/angular.js
frontend/node_modules/prettier/plugins/angular.mjs
frontend/node_modules/prettier/plugins/babel.d.ts
frontend/node_modules/prettier/plugins/babel.js
frontend/node_modules/prettier/plugins/babel.mjs
frontend/node_modules/prettier/plugins/estree.d.ts
frontend/node_modules/prettier/plugins/estree.js
frontend/node_modules/prettier/plugins/estree.mjs
frontend/node_modules/prettier/plugins/flow.d.ts
frontend/node_modules/prettier/plugins/flow.js
frontend/node_modules/prettier/plugins/flow.mjs
frontend/node_modules/prettier/plugins/glimmer.d.ts
frontend/node_modules/prettier/plugins/glimmer.js
frontend/node_modules/prettier/plugins/glimmer.mjs
frontend/node_modules/prettier/plugins/graphql.d.ts
frontend/node_modules/prettier/plugins/graphql.js
frontend/node_modules/prettier/plugins/graphql.mjs
frontend/node_modules/prettier/plugins/html.d.ts
frontend/node_modules/prettier/plugins/html.js
frontend/node_modules/prettier/plugins/html.mjs
frontend/node_modules/prettier/plugins/markdown.d.ts
frontend/node_modules/prettier/plugins/markdown.js
frontend/node_modules/prettier/plugins/markdown.mjs
frontend/node_modules/prettier/plugins/meriyah.d.ts
frontend/node_modules/prettier/plugins/meriyah.js
frontend/node_modules/prettier/plugins/meriyah.mjs
frontend/node_modules/prettier/plugins/postcss.d.ts
frontend/node_modules/prettier/plugins/postcss.js
frontend/node_modules/prettier/plugins/postcss.mjs
frontend/node_modules/prettier/plugins/typescript.d.ts
frontend/node_modules/prettier/plugins/typescript.js
frontend/node_modules/prettier/plugins/typescript.mjs
frontend/node_modules/prettier/plugins/yaml.d.ts
frontend/node_modules/prettier/plugins/yaml.js
frontend/node_modules/prettier/plugins/yaml.mjs
