spring:
  datasource:
    url: jdbc:mysql://localhost:3306/jpa_practice?serverTimezone=UTC&useSSL=false
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.default_batch_fetch_size: 50
      hibernate.format_sql: true

logging:
  level:
    org.hibernate.SQL: debug